*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(148, 38%, 91%)
}

@font-face {
    font-family: ;
    src: url(../Estilos/);
}

.container {
    background: white;
    width: 500px;
    margin: 0px auto;
}